[submodule "Libraries/libtorrent"]
	path = Libraries/libtorrent
	url = https://github.com/pepibumur/libtorrent-ios.git
[submodule "Libraries/VLCKit"]
	path = Libraries/VLCKit
	url = https://code.videolan.org/videolan/VLCKit.git
[submodule "Config"]
	path = Config
	url = git@github.com:jspahrsummers/xcconfigs.git
